* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #00cec9;
}

a:hover {
    color: #81ecec;
}

body {
    background-color: #fcefef;
}

table {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: #fff;
}

caption {
    padding: 10px 0;
    font-size: 18px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border: none;
    border: 1px solid transparent;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.back {
    padding: 0 10px;
}

.btn {
    outline: none;
    background-color: #41dfd7;
    padding: 10px 12px;
    font-weight: 600;
    color: #fff;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    min-width: 80px;
}

.btn + .btn {
    margin-left: 10px;
}

.btn:hover {
    background-color: #45ece4;
}
