* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #c6fdf1;
}
.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin: auto;
}
.container {
    padding: 30px;
}
.form-control {
    height: 35px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}
input {
    border: 2px solid #0058fc;
}
.btn {
    outline: none;
    background-color: #41dfd7;
    padding: 9px 12px;
    font-weight: 600;
    color: #fff;
    border: none;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    min-width: 80px;
}
